<!DOCTYPE html>
<html lang="en">
 
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>LAZER MAZE</title>
    <script type="text/javascript">
	    function countdownTimer() {
	    	var page = ["2","1","GO"]
	    	var index = 0
	    	setInterval(function(){
	    		if (index < page.length) {
	    			document.getElementById("countdown").innerHTML = page[index]
	    			index ++
	    		}
	    		else {
	    			window.location.replace('game.html');
	    		}
	    	}, 1000)
	    }

    </script>
</head>
 
<body background="../static/img/trigrid20.png" onload="countdownTimer()">
	<div class='container'>
    	<h2 id="countdown"> 3 </h2>
		<meta http-equiv="refresh" content="5; url=game" />
	</div>
</body>
 
</html>