<!DOCTYPE html>
<html lang="en">
 
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>LAZER MAZE</title>
    <script type="text/javascript">
    var	clsStopwatch = function() {
		// Private vars
		var	startAt	= 0;
		var	endTime	= 0;

		var	now	= function() {
				return (new Date()).getTime(); 
			}; 
 
		// Public methods
		// Start or resume
		this.start = function() {
				startAt	= startAt ? startAt : now();
			};

		// Stop or pause
		this.stop = function() {
				// If running, update elapsed time otherwise keep it
				endTime	= startAt ? endTime + now() - startAt : endTime;
				startAt	= 0; // Paused
			};

		// // Reset
		// this.reset = function() {
		// 		endTime = startAt = 0;
		// 	};

		// Duration
		this.time = function() {
				return endTime + (startAt ? now() - startAt : 0); 
			};
	};

	var x = new clsStopwatch();
	var $time;
	var clocktimer;

	function shorten(num, size) {
		var s = "0000" + num;
		return s.substr(s.length - size);
	}

	function formatTime(time) {
		var h = m = s = ms = 0;
		var newTime = '';

		h = Math.floor( time / (60 * 60 * 1000) );
		time = time % (60 * 60 * 1000);
		m = Math.floor( time / (60 * 1000) );
		time = time % (60 * 1000);
		s = Math.floor( time / 1000 );
		ms = time % 1000;

		newTime = shorten(h, 0) + shorten(m, 2) + ':' + shorten(s, 2) + ':' + shorten(ms, 1);
		return newTime;
	}

	function show() {
		$time = document.getElementById('time');
		update();
	}

	function update() {
		$time.innerHTML = formatTime(x.time());
	}

	function start() {
		clocktimer = setInterval("update()", 1);
		x.start();
	}

	function stop() {
		x.stop();
		clearInterval(clocktimer);
		window.location.replace('saveTime.html');
	}

	// function reset() {
	// 	stop();
	// 	x.reset();
	// 	update();
	// }
    </script>
</head>

<body background="../static/img/trigrid20.png" onload="show(), start()">
	<!-- <div>Time: <span id="time"></span></div> -->
	<div class='container'>
    	<h4 id='time'>  </h4>
    	<!-- <input type="button" value="start" onclick="start();"> -->
		<input type="button" value="stop" onclick="stop();">
    	<!-- <p><a href='score.html'><button type="button">STOP</button></a></p> -->
	</div>
</body>
 
</html>