<!DOCTYPE html>
<html lang="en">
 
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>LAZER MAZE</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
 	</script>
    <script type="text/javascript">
    var	startAt	= 0;
	var	endTime	= 0;
    var	clsStopwatch = function() {
		// Private vars
		// var	startAt	= 0;
		// var	endTime	= 0;

		var	now	= function() {
				return (new Date()).getTime(); 
			}; 
 
		// Public methods
		// Start or resume
		this.start = function() {
				startAt	= startAt ? startAt : now();
			};

		// Stop or pause
		this.stop = function() {
				// If running, update elapsed time otherwise keep it
				endTime	= startAt ? endTime + now() - startAt : endTime;
				startAt	= 0; // Paused
			};

		// // Reset
		// this.reset = function() {
		// 		endTime = startAt = 0;
		// 	};

		// Duration
		this.time = function() {
				return endTime + (startAt ? now() - startAt : 0); 
			};
		return endTime;
	};

	var x = new clsStopwatch();
	var $time;
	var clocktimer;

	function shorten(num, size) {
		var s = "0000" + num;
		return s.substr(s.length - size);
	}

	function formatTime(time) {
		var h = m = s = ms = 0;
		var newTime = '';

		h = Math.floor( time / (60 * 60 * 1000) );
		time = time % (60 * 60 * 1000);
		m = Math.floor( time / (60 * 1000) );
		time = time % (60 * 1000);
		s = Math.floor( time / 1000 );
		ms = time % 1000;

		newTime = shorten(h, 0) + shorten(m, 2) + ':' + shorten(s, 2) + ':' + shorten(ms, 1);
		return newTime;
	}

	function show() {
		$time = document.getElementById('time');
		update();
	}

	function update() {
		$time.innerHTML = formatTime(x.time());
	}

	function start() {
		clocktimer = setInterval("update()", 1);
		x.start();
	}

	function stop() {
		console.log("stopping")
		x.stop();
		finalTime = formatTime(endTime);
		console.log(finalTime);
		// $.post( "/saveTime", {
  //   	javascript_data: endTime 
		// });
		$.ajax({
  			type: "POST",
  			url: "{{ url_for('saveTime') }}",
  			data: {"finalTime" : JSON.stringify(finalTime)},
  			contentType: 'application/json;charset=UTF-8',
  			error: function(error) {
                console.log(error);
            }
		});
		clearInterval(clocktimer);
		//window.location.replace('saveTime');
		// console.log(finalTime);
	}

// 	$(function() {
//     $('button').click(function() {
//         var user = $('#txtUsername').val();
//         var pass = $('#txtPassword').val();
//         $.ajax({
//             url: '/signUpUser',
//             data: $('form').serialize(),
//             type: 'POST',
//             success: function(response) {
//                 console.log(response);
//             },
//             error: function(error) {
//                 console.log(error);
//             }
//         });
//     });
// });

	// function reset() {
	// 	stop();
	// 	x.reset();
	// 	update();
	// }
    </script>
</head>

<body background="../static/img/trigrid20.png" onload="show(), start()" onclick="stop();">
	<div class='container'>
	<h4 id='time'>  </h4>
<!-- 		<form action='/saveTime' method="post">
		<input type="button" value="stop" onclick="stop();">
		</form> -->
<!-- 	<form class="form-signin" action="/signUp" method="post" role="form">
             <h2 class="form-signin-heading">Please Sign Up </h2>
             <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" class="form-control" placeholder="Password" required>
 
             <button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
    </form> -->

	</div>
</body>
 
</html>
