<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Lazer Maze: a project for POE -->
<!-- Olin College of Engineering, 2015 -->

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>LAZER MAZE</title>
</head>

<body background="../static/img/trigrid20.png">
	<div class='container'>
		<h1>Welcome to the <br> Lazer Maze</h1>
	    <h1><a class='nextpage' href='/countDown'> >>> </a></h1>
    </div>
</body>

</html>