<!DOCTYPE html>
<html lang="en">
 
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>LAZER MAZE</title>
    <script type="text/javascript">

    var name
    function getName() {
    	name = document.getElementById('nameInput').value;
    }
    function alertName() {
    	alert(name)
    }

    </script>
</head>

<body background="../static/img/trigrid20.png">
	<div class='container'>
		<h3>
    	<form action="/score">  
        <!-- method="post"> -->
  		Enter your name:<br>
  			<input type="text" class='input-box' name="name" style="text-transform:uppercase">
  			<input type="submit" class='input-submit' name="my-form" value=">">
		</form>
		</h3>
		<!-- <p>[hit enter to continue]</p> -->
	</div>
</body>
 
</html>



<!-- <body onload="onload();">
    <input type="text" name="enter" class="enter" value="" id="lolz"/>
    <input type="button" value="click" onclick="kk();"/>
</body> -->